body {
    background-color: teal;
    position: absolute;

}
* {
    width: 100%
}
.head {
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        width: 100%;
        position: fixed;
    }
    
        .nav {
        text-align: center;
        background-color: black;
        text-decoration: wavy;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: solid 3px white;
            color: white;
    }

        .nav:hover {
        background-color: white;
            border: solid 3px black;
            color: black;
    }

      #sources #projects {
          border-top: white solid 3px;
            }
          #sources {
         width: 50%;
                
        }

        #projects{
            width: 50%;
            text-align: right;
        }
        
           .src{
            background-color: white;
           }

            
          #foot {
         background-color: black;
         color: white;
        border-top: 3px solid white;
            margin-top: 10px;
        }
        .about{
            width: 50%;
            text-align: left;
        }
        .projs{
            width: 50%;
            text-align: right;
        }


        